.light {
    color: black;
    background-color: rgb(236, 236, 236);
    border-color: black;
}

.create-button.light:hover {
    color: black;
    background-color: rgb(236, 236, 236);
    border-color: black;
    filter: brightness(150%);
}

.light-main {
    color: black;
    background-color: rgb(219, 218, 218);
    border-color: black;
}