body {
    font-family: "Google Sans Flex", Arial;
    margin: 0;
    padding: 0;
    background-color: rgba(22, 22, 22, 0.842);
    overflow-x: hidden;
    overflow-y: hidden;
}

.global-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-password-text {
    display: block;
    color: white;
    font-family: 'Ubuntu', Arial;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 20px;
}

.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: solid;
    border-color: rgb(73, 73, 73);
    border-width: 3px;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.387);
}

.enter-email-text {
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
}

.email-input {
    border-radius: 10px;
    border: none;
    font-size: 17px;
    margin-bottom: 5px;
    width: 300px;
    padding-left: 10px;
    height: 40px;
    margin: 10px 7px;
    margin-top: 5px;
}

.send-email-button {
    font-family: 'Google Sans Flex';
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    background-color: rgba(4, 5, 10, 0.384);
    border: none;
    margin-top: 5px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.15s;
    margin-bottom: 10px;
}

.send-email-button:active {
    background-color: white;
    color: rgb(30, 30, 30);
}